
:root {
  --mainGreen: rgba(0, 146, 71, 1);
  --mainRed:rgba(204, 0, 0, 1)

}


/* Hide the default show password icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}
input[type="password"]::-webkit-input-placeholder {
    /* Safari */
    display: none;
}

input[type="file"] {
    background-color: rgba(240, 255, 239, 1) !important;
}



.auth-container {
    background-image: url('../src/assets/imgs/auth-bg.png') ;
    background-size: cover ;
    background-position: center;
}

.bg-overlay {
    background: linear-gradient(45deg,rgba(55, 140, 47, 0.4),rgba(0, 0, 0, 0.75));
}



.custom-button {
    background-color: var(--mainGreen) !important;
}

.form-control {
    background-color: #F7F7F7 !important;
    border:none !important;
    padding: 10px !important;
}

.input-group-text {
    border: none !important;
    cursor: pointer;
}

.devider {
    width: 1px !important;
    height: 95% !important;
    margin: 0 10px !important;
    background-color: #8391A1 !important;
}

i,input[placeholder] {
    color: #8391A1 !important;
}
.css-dip3t8{
    background-color:transparent !important;
}
.css-1dabzo2 {
    border: none !important;
}


.sidebar-container .ps-sidebar-container {
    background-color: #1F263E!important;
    height: 1000px !important;
    border-top-right-radius: 58px !important;
    top: 0 !important;
    bottom: 0 !important;
}

.sidebar-container .logo-link {
    padding: 20px 20px 20px 10px !important;
    
}

.sidebar-container .sidebar-logo {
    width: 90px !important;
    height: 90px !important;

}

.sidebar-container .ps-menuitem-root {
    color: #fff !important;
}
.sidebar-container .ps-menu-button:hover {
    background-color:rgba(0, 146, 71, 0.3) !important;
    border-left: 2px solid #009247!important;
}

.sidebar-container .logo-link a:hover {
    background-color:transparent !important;
    border: none !important;
    
}
.sidebar-container i {
    color:#fff!important;
}

.header {
    background-color: var(--mainGreen) !important;
}

/* categories styling start*/
.btn-custom {
    background-color:var(--mainGreen)!important;
    color: #fff !important;
    padding: 10px 50px !important;
}
/* categories styling end*/


.custom-btn-close {
    position: relative; 
    color: var(--mainRed) !important;
    border: var(--mainRed) 2px solid  !important;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    display: inline-flex; 
    justify-content: center;
    align-items: center; 
    cursor: pointer;
    opacity: 1 !important;
    overflow: hidden; 
    text-align:right !important;
    margin-right: 20px;
}
.custom-close-modal-btn{
    padding: 10px!important;
    color: var(--mainRed) !important;
    border:2px solid var(--mainRed) !important;
}

.custom-add-modal-btn{
    padding: 10px 20px!important;
    background-color:var(--mainGreen) !important;
    color: #fff !important;
    font-weight: 300 !important;

}
.fa-xmark {
    color:var(--mainRed) !important;
} 

.add-title {
    color: rgba(73, 73, 73, 1);
}
.delete-title {
    color: rgba(73, 73, 73, 1);
}
.delete-text {
    color: rgba(73, 73, 73, 0.6);
}
.modal-footer {
    border-top: 2px solid rgba(247, 247, 247, 1) !important;
    width: 90% !important;
    margin: auto !important;
}

.modal-header{
    border-bottom: none !important;
}

.action-icon,.sidebar-container .fa-bars {
    color:var(--mainGreen)!important;
}



.action-anchor {
    color: black !important;
}

td {
    color: rgba(31, 38, 62, 1) !important;
}

@media (max-width: 1400px) {    
.caption h3 {
    font-size: 40px;
}
.caption h6 {
    font-size: 40px;
}}

@media (max-width: 1200px) {    .caption h3 {
    font-size: 35px;
}}
@media (max-width: 992px) {   .caption h3 {
        font-size: 35px;
    }}


@media (max-width: 768px) {   .caption h3 {
        font-size: 30px;
    } }


@media (max-width: 576px) { 
    .caption h3 {
        font-size: 20px;
    }
 }


/* notfound page start */
 .notfound-page {
    background-image:url('../src/assets/imgs/Vector.png');
    background-repeat: no-repeat;
    background-size:900px;
    background-position: right bottom;
    height: 100vh;
 }
 .overlay {
    position: absolute;
    bottom:0;
    right: 0 !important;
 }
 .notfound-page .title {
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
 }
  .notfound-page .sub-title {
    font-family: Inter;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--mainGreen);
 }

 .notfound-page span{
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
 }

 /* notgound page end */


 /* pagination start */

 .page-link {
    color:var(--mainGreen) !important
 }
  .active>.page-link{
    background-color: var(--mainGreen) !important;
    border-color: var(--mainGreen) !important;
    color: white !important;
 }
 /* pagination end */

/* add recipe start */
 .fill-recipe{
    background-color:rgba(240, 255, 239, 1);


 }
 .fill-tilte{
    color:var(--mainGreen);
 }

 .fill-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
 }
 .all-recipes {
    background-color:var(--mainGreen)!important;
    color: #fff !important;
    padding: 5px 10px !important;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.add-item{
    font-family: 16px;
    color:rgb(159, 156, 156)
}
/* add recipe end */




